html{ 
    font-size: 62.5%; 
}

body{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.4rem; /*AGGIORNATO*/
    color: grey;
}

h1{
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    padding-top: 70px;
    color: #25a2c3;
    font-size: 1.4em; /*AGGIORNATO*/
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    font-size: 1.4em; /*AGGIORNATO*/
    font-weight: bold;
}

p{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 1.2em; /*AGGIORNATO*/
}

/* HEADER */
header{
    background-color: black;
    text-align: center;
    padding: 30px 0px 50px;
    margin-bottom: 0px;
}


/* MAIN */

#sfondo {
    background-image: url(../images/banner.jpg);
    width: 100%;
    background-position: center;
    background-position: center;
    padding-top: 0px;
    padding-bottom: 80px;
}

#button{
    background-color: #e22d0e;
    color: #fff;
    width: 60%;         /*MODIFICATO*/
    padding: 5px 10%;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 0px;
}

main aside {
    margin-top: 50px;
    margin-bottom: 50px;
}

#notebook{
    border-radius: 100%;
    width: 50%;
    height: auto;
}

#epicode-garantisce {
    background-color: #e22d0e;
    color: #fff;
    padding: 30px 0px;
}

article div {
    display: block;
    margin: 0 auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 30px;
    max-width: 640px;
}

/* FOOTER */

footer{
    background-color: #25a2c3 ;
    color: #fff;
    padding: 30px 70px ;
}

.icon:before {
    font-family: FontAwesome;
    color: red;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 480px) {  /*MOBILE*/
    body {
        font-size: 1.4rem;
    }

    h1, h3 {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
    }

  }

@media only screen and (min-width: 768px) { /*TABLET PORTRAIT*/
    body {
        font-size: 1.4rem;
      
    }

    h1, h3 {
        font-size: 2.2em;
    }

    p {
        font-size: 1.5em;
    }

    img {
        width: 100%;
        height: auto;
    }

    header img {
        width: 30%;
        height: auto;
    }

  }

  @media only screen and (max-width:480px) {
    img {
        width: 100%;
        height: auto;
    }

    header img {
        width: 30%;
        height: auto;
    }

}

  @media screen and (min-width:1024px) { /*LAPTOP*/
    body {
        font-size: 2.2rem;
    }
    p {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 3rem;
    }
    #button {
        width: 60%;
    }

    img {
        width: auto;
        height: auto;
    }

    header img {
        width: 30%;
        height: auto;
    }
}

@media screen and (min-width:1200px) { /*DESKTOP*/
    body {
        font-size: 3.2rem;
    }
    p {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 3.2rem;
    }

    #button {
        width: 60%;
    }

    img {
        width: 100%;
        height: auto;
    }
}

/* MEDIA QUERIES NOTEBOOK*/

@media screen and (min-width:480px) and (max-width:768px){
    #notebook{
        max-width: 426px;
    }

}
/* MEDIA QUERIES BOX IMMAGINI*/

@media only screen and (min-width:480px) and (max-width:768px){
    article div{
        max-width: 640px;
    }
}